<!-- chat/templates/chat/home.html -->
{% extends "chat/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Available Chat Rooms</h2>

    {% if chat_rooms %}
        <ul class="list-group">
            {% for room in chat_rooms %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% if room.user1 == request.user %}{% url 'chat:chat_room' room.user2.username %}{% else %}{% url 'chat:chat_room' room.user1.username %}{% endif %}" class="text-decoration-none">
                        Chat with 
                        {% if room.user1 == request.user %}
                            {{ room.user2.username }}
                        {% else %}
                            {{ room.user1.username }}
                        {% endif %}
                        {% if room.user1 == request.user and room.user2 == request.user %}
                            <span class="text-muted">(Self)</span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">No chat rooms available.</p>
    {% endif %}
</div>
{% endblock content %}
